<div class="result">
  <div
    class="game"
    [style.background-position]="getGameResult(game1Result)"
    id="game1"
    (click)="onGame1Click()"
  >
    {{ game1Max }} 
  </div>
  <div
    class="game"
    [style.background-position]="getGameResult(game2Result)"
    id="game2"
    (click)="onGame2Click()"
  >
    {{ game2Max }}
  </div>
  <div
    class="game"
    [style.background-position]="getGameResult(game3Result)"
    id="game3"
    (click)="onGame3Click()"
  >
    {{ game3Max }}
  </div>
  <div
    class="game"
    [style.background-position]="getGameResult(game4Result)"
    id="game4"
    (click)="onGame4Click()"
  >
    {{ game4Max }}
  </div>
  <div
    class="game"
    [style.background-position]="getGameResult(game5Result)"
    id="game5"
    (click)="onGame5Click()"
  >
    {{ game5Max }}
  </div>
</div>
<div class="num_people">
  <button type="button" class="addbtn" (click)="onAddClick()">+</button>
  <button type="button" class="delbtn" (click)="onDeleteClick()">-</button>
</div>
<button type="button" class="caption" (click)="onFullscreenClick()">
  Fullscreen
</button>
<div class="form">
  <div class="left">
    <div class="leftTop"></div>
    <div class="leftDown">
      <div class="info">
        <label>
          <input id="captain" type="checkbox" />
        </label>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="rightTop">
      <li></li>
    </div>
    <div class="rightDown">
      <div class="info">
        <label>
          <input id="ticket" type="checkbox" />
          <div class="ticket"></div>
          <label>
            <input id="mission" type="checkbox" />
            <div class="mission"></div>
          </label>
        </label>
      </div>
      <div class="info">
        <label>
          <input id="ticket" type="checkbox" />
          <div class="ticket"></div>
          <label>
            <input id="mission" type="checkbox" />
            <div class="mission"></div>
          </label>
        </label>
      </div>
    </div>
  </div>

  <div class="lakeDiv">
    <div class="lake hiddenObj" id="firstLakeLady">
      <div class="dropdown">
        <select class="players">
          <option *ngFor="let i of playerCounts" [value]="i">{{ i }} 號</option>
        </select>
      </div>
      <div class="gameLake" id="firstLake" (click)="onFirstLakeClick()"></div>
    </div>
    <div class="lake hiddenObj" id="secondLakeLady">
      <div class="dropdown">
        <select class="players">
          <option *ngFor="let i of playerCounts" [value]="i">{{ i }} 號</option>
        </select>
      </div>
      <div class="gameLake" id="secondLake" (click)="onSecondLakeClick()"></div>
    </div>
    <div class="lake hiddenObj" id="thirdLakeLady">
      <div class="dropdown">
        <select class="players">
          <option *ngFor="let i of playerCounts" [value]="i">{{ i }} 號</option>
        </select>
      </div>
      <div class="gameLake" id="thirdLake" (click)="onThirdLakeClick()"></div>
    </div>
  </div>
</div>
