<form [formGroup]="form">
  <div class="flex pt-4">
    <div>
      <!-- Increase or Decrease Player -->
      <div class="inline-flex ml-3">
        <button
          type="button"
          class="bg-slate-300 hover:bg-slate-400 text-gray-800 text-3xl font-bold px-3 py-2 rounded-l"
          (click)="onAddClick()"
        >
          ＋
        </button>
        <button
          type="button"
          class="bg-slate-300 hover:bg-slate-400 text-gray-800 text-3xl font-bold px-3 py-2 rounded-r"
          (click)="onDeleteClick()"
        >
          －
        </button>
      </div>

      <!-- Full Screen -->
      <div class="mt-3 ml-3">
        <button
          type="button"
          class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          (click)="onFullscreenClick()"
        >
          FullScreen
        </button>
      </div>

      <!-- Quest Result -->
      <div class="result">
        <ng-container formArrayName="results">
          <div
            *ngFor="let result of resultFormArray.controls; let i = index; trackBy: trackByFn"
            class="game"
            [style.background-position]="getRoundResult(result)"
            [style.color]="getRoundTextColor(result)"
            (click)="onRoundClick(result, i)"
          >
            {{ getBadCountsOrMax(i) }}
            <span class="hidden" [formGroupName]="i">
              <input type="checkbox" formControlName="result" />
              <input type="number" formContronName="evilPlayerCount" />
            </span>
          </div>
        </ng-container>
      </div>

      <!-- Import Game Data -->
      <div class="mt-3 ml-3">
        <button
          class="bg-purple-400 hover:bg-purple-300 text-black font-bold py-2 px-4 border-b-4 border-purple-700 hover:border-purple-500 rounded"
          (click)="onImportClick()"
        >
          <span>Import</span>
        </button>
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept=".json"
          class="hidden"
        />
      </div>

      <!-- Export Game Data -->
      <div class="mt-3 ml-3">
        <button
          class="bg-yellow-400 hover:bg-yellow-300 text-black font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded"
          (click)="onExportClick()"
        >
          <span>Export</span>
        </button>
      </div>
    </div>

    <div class="flex flex-col">
      <!-- Player -->
      <ng-container formArrayName="players">
        <div class="flex">
          <div class="empty-vote-round"></div>
          <div
            *ngFor="let player of playerFormArray.controls; let i = index; trackBy: trackByFn"
            [formGroupName]="i"
            class="pl-2"
          >
            <div class="player">
              {{ i + 1 }}號
              <input
                type="text"
                size="7"
                placeholder="name"
                class="text-sm"
                formControlName="name"
              />
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Round -->
      <ng-container formArrayName="rounds">
        <div
          *ngFor="let round of roundFormArray.controls; let i = index; trackBy: trackByFn"
          [formGroupName]="i"
          class="flex"
        >
          <div class="vote-round">
            <label
              >{{ (i % playerCount) + 1 }}號派票 <input type="checkbox" formControlName="isPass" />
            </label>
          </div>
          <ng-container formArrayName="votes">
            <div
              *ngFor="let vote of getVoteFormArray(i).controls; let i = index; trackBy: trackByFn"
              [formGroupName]="i"
              class="pl-2"
            >
              <div class="info">
                <label>
                  <input id="ticket" type="checkbox" formControlName="vote" />
                  <div class="ticket"></div>
                </label>
                <label>
                  <input id="mission" type="checkbox" formControlName="isMember" />
                  <div class="mission"></div>
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- Lady of the Lake -->
    <div class="lakeDiv" [style.left.px]="640 + 70 * (playerCount - 5)" *ngIf="playerCount >= 7">
      <ng-container formArrayName="lakeResults">
        <div
          *ngFor="let lakeResult of lakeResultFormArray.controls; let i = index; trackBy: trackByFn"
          class="lake"
        >
          <ng-container [formGroupName]="i">
            <div class="dropdown">
              <select class="players" formControlName="targetPlayerIndex">
                <option
                  *ngFor="let playerCount of playerFormArray.controls; let i = index"
                  [value]="i"
                >
                  {{ i + 1 }} 號
                </option>
              </select>
            </div>
            <div
              class="gameLake"
              [style.background-position]="getLakeResultPostion(lakeResult)"
              (click)="onLakeClick(lakeResult)"
            >
              <div class="hidden">
                <input type="text" formControlName="result" />
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</form>
